In [ ]:
#strings list tuple slicing and concatenation
# Creating strings
a="string1";
b='string';
print("String using '' is:",a);
print("String using "" is:",b);
c='''string''';
d="""hello""";
print("String using ''' is:",c);
print("String using "" is:",d);
# Creating List
e=[];
v=[1,2,3,45,"hello",45.7]
print("Empty List is:",e);
print("List is:",v);
h=[[1,2,3,45,"hello",45.7],["hek",89,90,78.6,12]]
print("List is:",h);

String using '' is: string1
String using  is: string
String using ''' is: string
String using  is: hello
Empty List is: []
List is: [1, 2, 3, 45, 'hello', 45.7]
List is: [[1, 2, 3, 45, 'hello', 45.7], ['hek', 89, 90, 78.6, 12]]

In [ ]:
# Creating Empty Tuple
a=()
print("Empty Tuple is:",a);

()

In [ ]:
# Creating Tuple
v=(1,2,3,45,"hello",45.7)
print("Tuple is:",v)

(1, 2, 3, 45, 'hello', 45.7)

In [ ]:
# Creating Tuple using tuple() function
v=[1,2,3,45,"hello",45.7]
x= tuple(v)
print("Tuple using tuple() function:",x)

Tuple using tuple() function: (1, 2, 3, 45, 'hello', 45.7)

In [ ]:
# Creating List using tuple
v=(1,2,3,45,"hello",45.7)
x= list(v)
print("List created from tuple is:",x)

List created from tuple is: [1, 2, 3, 45, 'hello', 45.7]

In [ ]:
# Creating Empty Dictionary
a={}
print("Type of Empty Dictionary is:",type(a))

Type of Empty Dictionary is: <class 'dict'>

In [ ]:
# Creating Empty Set
a=set({})
print("Type of Empty Set is:",type(a))

Type of Empty Set is: <class 'set'>

In [ ]:
# Creating Empty Set
a=set("HEllo")
print("Set is:",a)

Set is: {'H', 'l', 'E', 'o'}

In [ ]:
# Creating Dictionary
b={1:a,b:"apple","k":"kites"}
print("Dictionary is:",b)

Dictionary is: {1: {'H', 'l', 'E', 'o'}, 'string': 'apple', 'k': 'kites'}

In [ ]:
# Creating Dictionary
b={1:678,"b":"apple","k":"kites"}
print("Dictionary is:",b)

Dictionary is: {1: 678, 'b': 'apple', 'k': 'kites'}

In [ ]:
# Creating Empty Dictionary using set from dict() function
m=dict({})
print(" Empty Dictionary using set from dict() function is:",m)

 Empty Dictionary using set from dict() function is: {}

In [ ]:
# Creating Dictionary
b={1:678,"b":"apple","k":"kites"}
print("Dictionary is:",b)
# Creating list from Dictionary
g=list(b)
print("List from Dictionary is:",g)

Dictionary is: {1: 678, 'b': 'apple', 'k': 'kites'}
List from Dictionary is: [1, 'b', 'k']

In [ ]:
# Creating list
b=[1678,"apple","kites"]
# Indexing
print("First element is:",b[0])
g=b[0]
print("First element is:",g)

First element is: 1678
First element is: 1678

In [ ]:
# Creating list
b=[1678,"apple","kites"]
# Indexing
print("First element is:",b[0])
g=b[2]
print("Third element is:",g)

First element is: 1678
Third element is: kites

In [ ]:
# Creating list
b=[1678,"apple","kites"]
# Indexing
print("First element is:",b[0])
g=b[1]
print("Second element is:",g)

First element is: 1678
Second element is: apple

In [ ]:
# Exception Handling and Indexing
try:
  b=[1678,"apple","kites"]
  print("Third element is:",b[2])
  g=b[4]
  print(g)
except:
  print("NO elements!!!!!!")

Third element is: kites
NO elements!!!!!!

In [31]:
# Creating string
s="string"
# Indexing using index function
b=s.index("i")
print("Index of i is:",b)
# Indexing using index function giving start and stop range
print("Index of i is:",s.index("i",2,5))

Index of i is: 3
Index of i is: 3

In [32]:
# Creating string
s="string"
# Indexing using index function giving start and stop range
print("Index of g is:",s.index("g",2,6))

Index of g is: 5

In [34]:
# Creating List
b=[1678,"apple","kites"]
print("Original List is:",b)
# Repetition of list
print("List after Repetition is:",b*3)

Original List is: [1678, 'apple', 'kites']
List after Repetition is: [1678, 'apple', 'kites', 1678, 'apple', 'kites', 1678, 'apple', 'kites']

In [35]:
# Creating List
b=(1678,"apple","kites")
print("List is:",b)
# Multiplying to 0 creates empty list
print("List after Multiplying to 0 is:",b*0)

List is: (1678, 'apple', 'kites')
List after Multiplying to 0 is: ()

In [36]:
# Creating List
b=(1678,"apple","kites")
print("List is:",b)
# Multiplying to -5 creates empty list
print("List after Multiplying to -5 is:",b*-5)

List is: (1678, 'apple', 'kites')
List after Multiplying to -5 is: ()

In [37]:
# Creating strings
a="hello"
b="world"
# Addition of string
print("Addition of string is:",a+b)

Addition of string is: helloworld

In [38]:
# Combining using join function- combined with a character given
c=" @".join([a,b])
print("Combining using join function is:",c)

Combining using join function is: hello @world

In [39]:
# Creating sets
b={1678,"apple","kites"}
print("Set 1 is:",b)
c={"hello"}
print("Set 2 is:",c)
d=b.union(c)
print("Set after union is:",d)

Set 1 is: {'apple', 1678, 'kites'}
Set 2 is: {'hello'}
Set after union is: {'hello', 'apple', 1678, 'kites'}

In [40]:
# Creating lists
b=[1678,"apple","kites"]
print("List 1 is:",b)
c=[22,56,78]
print("List 2 is:",c)
d=b+c
print("Addition of list is:",d)

List 1 is: [1678, 'apple', 'kites']
List 2 is: [22, 56, 78]
Addition of list is: [1678, 'apple', 'kites', 22, 56, 78]

In [41]:
# Creating tuples
b=(90.78,78,76,45)
print("Tuple 1 is:",b)
m=("j",8,78,76)
print("Tuple 2 is:",m)
print("Addition of tuple is:",b+m)

Tuple 1 is: (90.78, 78, 76, 45)
Tuple 2 is: ('j', 8, 78, 76)
Addition of tuple is: (90.78, 78, 76, 45, 'j', 8, 78, 76)

In [52]:
# Creating string
a="boring"
# Slicing using slice function
# Start:stop:step
b=slice(3)
c=a[b]
print("Slicing using slice function is:",c)

Slicing using slice function is: bor

In [50]:
# Creating string
a="boring"
# Slicing using slice function
b=slice(1,3)
# Accesing via index
c=a[b]
print("Slice is:",c)

Slice is: or

In [57]:
# Creating List
a=[78,89,8999]
# Indexing-start:stop:step
# Giving no value by defaults it takes 0:len(list)+1:1
print("List using :: is:",a[::])

List using :: is: [78, 89, 8999]

In [60]:
# Creating List
a=[78,89,8999,90,67,45,23]
# Indexing-start:stop:step
# Giving no value by defaults it takes 0:len(list)+1
print("List using : is:",a[:])

List using : is: [78, 89, 8999, 90, 67, 45, 23]

In [61]:
# Giving start:stop value
print("List from index 0 to index 1 aka from first element to third element is:",a[0:2])

List from index 0 to index 1 aka from first element to third element is: [78, 89]

In [62]:
# Giving start:stop value
print("List from index 2 to end of list aka from third element to end is:",a[2:])

List from index 2 to end of list aka from third element to end is: [8999, 90, 67, 45, 23]

In [63]:
# Negative Indexing
# Creating List
a=[78,89,8999,89,67,54,32,12]
# Giving start:stop value
print("List from index -1 to -4 of list aka from last element to fifth is:",a[-4:-1])

List from index -1 to -4 of list aka from last element to fifth is: [67, 54, 32]