In [1]:
# User input in python
# Using input Function
a=input()

22

In [3]:
# Using message in input Function
a=input("ENTER NUMBER:")
print("NUMBER is:",a)

ENTER NUMBER:15
NUMBER is: 15

In [12]:
# Taking input
a=input("ENTER NUMBER:")
# Printing output to console
print("NUMBER is:",a)
# Checking type of input
print("NUMBER TYPE IS:",type(a))

ENTER NUMBER:63
NUMBER is: 63
NUMBER TYPE IS: <class 'str'>

In [11]:
# Taking input
Name=input("Enter student name: ")
Age=input("Enter student age: ")
# Checking type of input
print("Name is:",Name)
print("Age is:",Age)
print("NAME TYPE IS:",type(Name))
print("AGE TYPE IS:",type(Age))

Enter student name: Jane
Enter student age: 13
Name is: Jane
Age is: 13
NAME TYPE IS: <class 'str'>
AGE TYPE IS: <class 'str'>

In [10]:
# Exception Handling and input
try:
  num1=int(input("Enter first number: "))
  num2=int(input("Enter second number: "))
  print("Addition  is:",num1+num2)
  print("Number 1 is:",type(num1))
  print("Number 2 is:",type(num2))
except ValueError:
  print("This is not a number!")

Enter first number: 55
Enter second number: j
This is not a number!

In [7]:
# Taking multiple inputs in one line
Name,Age,Marks,Course=input("Name,Age,Marks,Course: ").split()
# Printing
print("Name is:",Name,"\n","Age is:",Age,"\n","Marks is:",Marks,"\n","Course is:",Course)

Name,Age,Marks,Course: John 56 89 DS
Name is: John
 Age is: 56
 Marks is: 89
 Course is: DS

In [8]:
# Taking multiple inputs in one line
a,b,c=input("Enter three number: ").split();
# Type casting to int
int(a)
int(b)
int(c)
print("First number is:",a)
print("Second number is:",b)
print("Third number is:",c)

Enter three number: 12 36 98
First number is: 12
Second number is: 36
Third number is: 98